doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-content, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
  title Product Page
  link(rel='stylesheet' href='/css/style.css')
body
  if user
    .overlay.hidden
    #background.tracks
      p(style='text-align:center;font-size:26px;color:blue;text-decoration:underline') Current Status
      p(class="hidden" class="no-of-buttons")=`${user.notifications.length}`
      div(class="hidden" id="delete-confirmation-form" style="position:fixed;width:350px;height:250px;z-index:10;background-color:white;top: 50%;left: 50%;transform: translate(-50%, -50%);")

      each notification,index in user.notifications
        div(style='position:relative;float:left;background-color:white;width:350px;height:450px;margin:45px;z-index:1;border-style:solid;border-width:2px;border-radius:20px;')
          img(style='position:relative;display:block;margin-left:auto;margin-right:auto;background-color:#4b072c;width:60%;height:50%;z-index:1;' src=`${notification.productPicture}`)
          p(style='position:relative;display:block;text-align:left;color:blue')=`${notification.productName}`
          h1(style='position:relative;top:10px;font-size:18px;')=`Product chosen at ${notification.productCompany}`
          h2(style='position:relative;font-size:18px;top:16px;')=`Currently available at Rs ${notification.price}`
          h2(style='position:relative;font-size:18px;top:16px;')=`Notification ends in ${notification.duration} days `
    
            span#edit-duration
              img(type='button' src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQx3O6eOktEmieMm0mLq7zZd1ce-p4SPVehIQ&usqp=CAU' style='width:10%;height:10%')
          h2(type="button" style='position:relative;font-size:18px;top:16px;color:red;'  id=`delete-track-${index}`)
            | Delete this track&nbsp; 

        script(src="/js/bundle.js")

  else


    include _header

    include _projectinfo

      //-script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js")
      //-script( type="module" src="/js/notifyController.js")
    script(src="/js/bundle.js")

